/*most of this is stolen snippets and is probably held together with hot glue and popsicle sticks sorry lmao*/
/*layout stuff*/

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

html{
  background-color: var(--base);
  font-family: 'Fira Code', monospace; 
}
.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 0 10px;
}

section {
  border: 1px solid var(--text);
  padding: 15px;
  margin-bottom: 15px; 
  position: relative;
  overflow: hidden;
}

/*color stuff*/

.purple{color: var(--accent2);}
.sub{
  color: var(--sub);
  font-size: smaller;
}
h1, h2, h3, p, li, ul{
  color: var(--text);
}
h1{
  font-size: 28px;
}
li{
  list-style-type: none;
}
a{
    color: var(--accent1);
}
a:visited{
    color: var(--accent2);
}
:root{
    --base: #1c2833 ;
	  --text: #cdd6f4;
	  --sub: #6c7086;
	  --accent1: #ff0044;
	  --accent2: #deb2ff;
	  color-scheme: dark;
}
@media (prefers-color-scheme: light ){
  :root {
      --base: #cdd6f4;
      --text: #1c2833 ;
      --sub: #6c7086;
      --accent1: #ff0046;
      --accent2: #482463;
      color-scheme: light;
  }
} /*do i like the light mode? na. do i want it despite that? yes. also my accent colors are seriously ugly but whatever*/