/* this is ordered weird i need to fix it please just ignore*/

/*containers*/
body{
  background-color: var(--base);
  color: var(--text);
  font-family: 'Fira Code', monospace; 
}
.container{
  background-color: var(--base);
  max-width: 800px;
  max-height: 100%;
}
aside{
  float: left;
  max-width: 200px;
  height: 100%;
}
main{
  float: left;
  margin-right: 10px;
  max-width: 500px;
  max-height: 600px;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

/* text shit */

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
a:hover{
  background-color: var(--one);
  color: var(--two);
  text-decoration: none;
}
a{
  color: var(--two); 
  text-decoration: none;
}
.title{
  background-color: var(--text);
  color: var(--base);
  width: 100%;
}

hr {
  color: var(--text);
  height: 1px;
}
/*** Works on common browsers ***/
::selection {
  background-color: var(--text);
  color: var(--base);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--text);
  color: var(--base);
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--text);
  color: var(--base);
}

::-ms-selection {
  background-color: var(--text);
  color: var(--base);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--text);
  color: var(--base);
}

/* fit content */
.fit{
  width: 100%;
}

/* root */
li::marker {
  content: "* ";
  font-size: 1.1em;
}
:root{
  --base: #09090a; 
  --text: #ecf1fc;
  --one: #372bb0;
  --two: #b52f38;
}
span{
  color: var(--base);
  background-color: var(--two);
}
.webrings{
  align-items: left;
}
.main::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  background: transparent; /* to make scrollbar invisible */}